/* Estilos generales */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header_section {
  background-color: rgb(255, 255, 255);
  color: white;
  padding: 0px 0;
}

.custom_nav-container {
  justify-content: space-between;
}

.navbar-toggler {
  color: rgba(229,0,43,255);
  size: 100px;
}

.navbar-nav .nav-link {
  color:rgba(229,0,43,255);
  font: 5em sans-serif;
  margin-right: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  border-bottom: none;
  text-decoration: none; /* Elimina el subrayado */
}

.nav_search-btn {
  background-color: transparent;
  border: none;
  color: rgba(229,0,43,255);
  margin-left: 10px;
}

.about_section {
  padding: 50px 0;
}

.about_section h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.about_section p {
  font-size: 18px;
  line-height: 1.6;
}

/* Estilos para el contador */
#countdown {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: rgba(229,0,43,255);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
}

.button {
  text-align: center; /* Centra el contenido horizontalmente */
  margin-top: 20px; /* Ajusta el margen superior según sea necesario */
}

.btn-primary {
  background-color: #dc3545; /* Color de fondo */
  color: #fff; /* Color del texto */
  padding: 10px 20px; /* Espaciado interno */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambio de cursor al pasar por encima */
  transition: background-color 0.3s ease; /* Transición suave para el cambio de color de fondo */
}

.btn-primary:hover {
  background-color: rgba(229,0,43,255); /* Cambia el color de fondo al pasar por encima */
}

/* Estilos adicionales */
.img-box {
  margin-bottom: 70px;
}

.detail-box {
  padding: 30px;
  background-color: #ffffff;
  border-radius: 5px;
}


/* Estilos para los segmentos */
.segment {
  border: 2px solid #ccc;
  padding: 20px;
  margin-top: 40px; /* Aumenta el margen inferior para mover las cajas hacia abajo */
  border-radius: 8px;
  background-color: #f9f9f9;
}
.segment h2 {
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 20px;
  color: rgba(229,0,43,255);
  font: 2em sans-serif;
}

/* Estilos para los cuadros responsivos */
@media (max-width: 992px) {
  .segment {
      padding: 15px;
  }

  .segment h2 {
      font-size: 18px;
  }
}

@media (max-width: 768px) {
  .segment {
      padding: 10px;
  }

  .segment h2 {
      font-size: 16px;
  }
}
.carousel-item {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  margin: left; /* Centra el carrusel */
  max-width: 900px; /* Limita el ancho del carrusel */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 ;
}

.carousel-item h3 {
  margin-top: 20px;
  margin-bottom: 5px;
}

.carousel-item p {
  margin-bottom: 0;
}

/* Ajustes para las flechas de navegación */
.carousel-control-next {
  width: 40px; /* Ajusta el ancho para evitar la superposición con el contenido */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 30px; /* Ajusta el tamaño de las flechas */
  height: 30px;
  background-color: rgba(229,0,43,255); /* Fondo semitransparente */
  border-radius: 50%; /* Forma circular */
  border: none; /* Sin borde */
  line-height: 30px; /* Centra el icono verticalmente */
}

.carousel-control-prev-icon:before,
.carousel-control-next-icon:before {
  color: rgba(229,0,43,255); /* Color del icono */
}
/* Ajustes para las flechas de navegación */.carousel-control-next {
  right: -10%; /* Ajusta la posición para evitar la superposición */
}
.carousel-control-prev {
  left: -10%;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
  background-color: rgba(229,0,43,255); /* Fondo semitransparente */
  border-radius: 10%; /* Forma circular */
  border: none; /* Sin borde */
  line-height: 30px; /* Centra el icono verticalmente */
  top: 40%; /* Ajusta la posición verticalmente */
  transform: translateY(-50%); /* Centra verticalmente */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 30px; /* Ajusta el tamaño de las flechas */
  height: 30px;
  border: none; /* Sin borde */
}

.carousel-control-prev-icon:before,
.carousel-control-next-icon:before {
  color: #fff; /* Color del icono */
  font-size: 20px; /* Tamaño del icono */
}

/* Estilos para las flechas de navegación al pasar el ratón */
.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: rgba(229,0,43,255); /* Fondo más oscuro al pasar el ratón */
}
.news-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto; /* Centra horizontalmente */
}

.news-box img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.container-box {
  align-items: center;
}

/* Ajuste para centrar las noticias */
.carousel-item {
  text-align: center;
}

/* Ajuste para el carrusel */
#financial-news-carousel {
  width: 80%; /* Ajusta el ancho del carrusel */
  margin: 0 auto; /* Centra el carrusel horizontalmente */
}

footer {
  background-color: #f2f2f2;
  padding: 30px 0;
  text-align: center;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-section {
  width: 45%;
  margin-bottom: 20px;
}

.footer-section h3 {
  color: #333;
  font-size: 20px;
  margin-bottom: 10px;
}

.footer-section p {
  color: #666;
  font-size: 16px;
  margin-bottom: 5px;
}
