<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal Financiero</title>

    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/after.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
    <style>
      /* Estilos para la barra de navegación */
      .navbar-nav {
          display: flex;
          align-items: center;
      }

      .nav-item {
          margin-right: 20px;
      }

      .navbar-brand {
          margin-right: auto; /* Mueve el brand logo a la izquierda */
      }

      .nav_search-btn {
          margin-left: auto; /* Mueve el botón de búsqueda a la derecha */
      }
      .title {
            text-align: center;
            margin-top: 20px;

      }
      .container {
            margin-top: 20px;
            }
      .card {
            margin-top: 20px;
            margin-bottom: 20px;
            padding: 20px;
            border-radius: 10px;
        }
        .table {
                margin-top: 20px;
                margin-bottom: 20px;
            }
        .list {
                margin-top: 20px;
                margin-bottom: 20px;
            }



  </style>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="static\bg7.jpg" alt="Logo del BAC" style="width: 150px; height: auto;">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('home') }}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('boveda') }}">Bóveda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('contratos') }}">Contratos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('transacciones') }}">Transacciones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('inversiones') }}">Inversiones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('perfil') }}">Perfil</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Buscar</button>
                </form>
            </div>
        </div>
    </nav>
    </header>
<body>

<div>
    <div class="container">
    <div class="title">
    <h1>Inversiones</h1>
    </div>
    <p>En esta sección podrás ver tus inversiones y el rendimiento que han tenido.</p>
</div>
<div class="table">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Monto</th>
                <th scope="col">Fecha de Inversión</th>
                <th scope="col">Rendimiento</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Acciones de Apple</td>
                <td>$1000</td>
                <td>01/01/2021</td>
                <td>5%</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Acciones de Tesla</td>
                <td>$2000</td>
                <td>01/01/2021</td>
                <td>10%</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Acciones de Amazon</td>
                <td>$3000</td>
                <td>01/01/2021</td>
                <td>15%</td>
            </tr>
        </tbody>
    </table>
</div>
</div>
<div>
    <div class="container">
    <div class="title">
    <h1>Crear Inversión</h1>
    </div>
    <form action="/inversiones" method="POST">
        <div class="form-group">
            <label for="nombre">Nombre de la Inversión:</label>
            <input type="text" class="form-control" id="nombre" name="nombre" required>
        </div>
        <div class="form-group">
            <label for="empresa">Empresa:</label>
            <input type="text" class="form-control" id="empresa" name="empresa" required>
        </div>
        <div class="form-group">
            <label for="monto">Monto de la Inversión:</label>
            <input type="number" class="form-control" id="monto" name="monto" required>
        </div>
        <div class="form-group">
            <label for="fecha">Fecha de Inversión:</label>
            <input type="date" class="form-control" id="fecha" name="fecha" required>
        </div>
        <button type="submit" class="btn btn-primary">Crear Inversión</button>
    </form>
</div>
<div>
    <div class ="container">
    <div class="title">
    <h1>Eliminar Inversión</h1>
    </div>
    <form action="/inversiones" method="POST">
        <div class="form-group">
            <label for="id">ID de la Inversión:</label>
            <input type="number" class="form-control" id="id" name="id" required>
        </div>
        <button type="submit" class="btn btn-primary">Eliminar Inversión</button>
    </form>
</div>
</div>
<div>
    <div class="container">
    <div class="title">
    <h1>Ver Inversión</h1>
    </div>
    <form action="/inversiones" method="POST">
        <div class="form-group">
            <label for="id">ID de la Inversión:</label>
            <input type="number" class="form-control" id="id" name="id" required>
        </div>
        <button type="submit" class="btn btn-primary">Ver Inversión</button>
    </form>
</div>
</div>
<div class="list">
    <h1>Inversiones</h1>
    <ul>
        <li>Acciones de Apple</li>
        <li>Acciones de Tesla</li>
        <li>Acciones de Amazon</li>
    </ul>
</div>
<div>
<div>
    <div class="container">
    <div class="title">
    <h1>Ver comportamiento del mercado</h1>
    </div>
    <form action="/inversiones" method="POST">
        <div class="form-group">
            <label for="empresa">Empresa:</label>
            <input type="text" class="form-control" id="empresa" name="empresa" required>
        </div>
        <button type="submit" class="btn btn-primary">Ver Comportamiento</button>
    </form>
</div>
<div>
    <div class="container">
    <div class="title">
    <h1>Ver rendimiento de la inversión</h1>
    </div>
    <form action="/inversiones" method="POST">
        <div class="form-group">
            <label for="id">ID de la Inversión:</label>
            <input type="number" class="form-control" id="id" name="id" required>
        </div>
        <div class="botton">
        <button type="submit" class="btn btn-primary">Ver Rendimiento</button>
        </div>
    </form>
</div>
</div>
</div>
  



</body>
        
    <!-- Footer -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}">

  </script>
  <div id="countdown"></div>

    <script>
        function countdown() {
            var remainingTimeInSeconds = parseInt('{{ remaining_time.total_seconds() }}');
            var countdownElement = document.getElementById('countdown');

            var intervalId = setInterval(function() {
                if (remainingTimeInSeconds <= 0) {
                    clearInterval(intervalId);
                    countdownElement.innerHTML = 'Session expired';
                } else {
                    var hours = Math.floor(remainingTimeInSeconds / 3600);
                    var minutes = Math.floor((remainingTimeInSeconds % 3600) / 60);
                    var seconds = remainingTimeInSeconds % 60;

                    countdownElement.innerHTML = hours + 'h ' + minutes + 'm ' + seconds + 's';
                    remainingTimeInSeconds--;
                }
            }, 1000);
        }

        countdown();
    </script>
    <footer>
        <div class="footer-container">
            <div class="footer-section">
                <h3>Ubicación</h3>
                <p>Dirección: 123 Calle Principal, Guatemala, Guatemala</p>
                <p>Teléfono: +123 456 789</p>
            </div>
            <div class="footer-section">
                <h3>Más Información</h3>
                <p>Horario de Atención: Lunes a Viernes, 9:00am - 5:00pm</p>
                <p>Email: securesphere@BAC.com</p>
            </div>
        </div>
    </footer>
</body>
</html>

